@(title: String)

<div class="container">
		<!-- Start of Container -->
		<div class=row>
			<!-- Start first Row -->
			<div class="col-md-12" id="bgc">
				<!-- Create Column -->
				<div class="col-md-7">
					<!--  Divide Column in the group of 7 column  -->
					<h2>Knoldus</h2>
				</div>
				<!-- End first devision  -->

				<div class="col-md-2">
					<!--  Divide Column in the group of 2 column  -->
					<div class="input-group" id="margin">
						<!-- input Group -->
						<input type="text" class="form-control"
							placeholder="Search for..."> <span
							class="input-group-btn">
							<button class="btn btn-default" type="button" a href="http://google.co.in">Go!</button>
						</span>
					</div>
					<!-- /input-group -->
				</div>
				<!-- End second devision  -->

				<div class="col-md-1" id="margin">
					<!--  Divide Column in the group of 2 column  -->
					<h4>DashBoard</h4>
				</div>
				<!-- End third devision  -->

				<div class="col-md-2" id="margin">
					<!--  Divide Column in the group of 2 column  -->
								<div id="actions">
                
        		<a class="btn btn-info" id="add" href="@routes.Application.logout()" style="padding: 6px 12px !important;">Logout</a>
			</div>
				</div><!-- End fourth devision  -->

			</div>
			<!-- End Column -->
			
							</div>
				</div>	

		
